<!DOCTYPE html>
<html data-ng-app="index">
<head>
	<meta charset="utf-8">
	<title>Portfolio | Ryan Murray</title>
	<meta name="description" content="A place to demonstrate professional experience." >
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>


<body class="homey" data-ng-controller="main"> <!-- me samp homey -->
	<div class="wrapper">
		<div class="siteheader">
			<div class="displayInline">
				<div class="logo sprite">
				</div><div class="logoText orbitron">ryan murray</div>
			</div>
			<a href="https://plus.google.com/106139086974881828865/posts" target="_blank" class="sprite socialIcon gplus"></a>
			<a href="mailto:rmurray3420@gmail.com" target="_blank" class="sprite socialIcon mail"></a>
			<a href="https://www.linkedin.com/in/murrayryan/" target="_blank" class="sprite socialIcon li"></a>
		</div>
		<div class="clear"></div>
		
		<div class="landing">
			<div class="headline orbitron">Ryan Murray,</div>
			<div class="underHeadline">A front-end developer of single page web applications, <br>engineer, and all around great guy.</div>
			<div class="legend">
				<div class="category">
					<div class="catTitle">ABOUT</div>
					<img class="fluidImg blurThis graphic" src="images/ryan_200x200.jpg" width=200 height=200 alt="">
				</div>
				<div class="category">
					<div class="catTitle">PORTFOLIO</div>
					<img class="fluidImg blurThis graphic port" src="images/portfolio_200x200.png" width=200 height=200 alt="">
				</div>
				<div class="category">
					<div class="catTitle">CODE SAMPLES</div>
					<div class="codeSample blurThis graphic">><span>_</span></div>
				</div>
				<div class="category testi">
					<div class="catTitle">REFERENCES</div>
					<img class="fluidImg blurThis graphic" src="images/testimonials_200x200.png" width=200 height=200 alt="">
					<div class="comment comment1"></div>
					<div class="comment comment2"></div>
					<div class="comment comment3"></div>
				</div>
			</div>
		</div>
		
		<div class="mePage parallax">
			<div class="slide header" id="title">
				<h1>Ryan Murray</h1>
				<h3>Software Engineer</h3>
			</div>

			<div class="slide" id="slide1">
				<div class="title">
					<h1>Currently</h1>
					<p>
						I am currently working in Web Development where I enjoy getting to see the work I do come to life immediately. 
						While I love the front end, I am interested in getting into a position where I can also begin to develop my back end skills
						in an effort to attain the elusive "full stack" developer status.
					</p>
				</div>
			</div>

			<div class="slide" id="slide2">
				<div class="title">
					<h1>Experience</h1>
					<p onclick="addClass($(this));">
						For the past two years I have been working with Zoovy, Inc. building Single Page Rich Internet Applications. 
						Building these applications has giving me a proficiency in Javascript, JQuery, HTML5, and CSS3, and JSON
						as well as allowed me to gain experience using Node.js, Elastic Search, Responsive Design, SEO Practices,
						and version tracking using Git. 
					</p>
				</div>
				<div class="skills sprite javascript"></div>
				<div class="skills sprite jquery"></div>
				<div class="skills sprite html5"></div>
				<div class="skills sprite css3"></div>
				<div class="skills sprite responsive"></div>
				<div class="skills sprite git"></div>	
				<div class="skills sprite nodejs"></div>
				<div class="skills sprite elasticsearch"></div>
				<div class="skills sprite seo"></div>
				<!--
				<img src="http://lorempixel.com/output/abstract-q-c-640-480-6.jpg">
				<img src="http://lorempixel.com/output/abstract-q-c-640-480-4.jpg"> 
				-->
			</div>

			<div class="slide" id="slide3">
				<div class="title">
					<h1>Education</h1>
					<p>
						I graduated from DeVry University, Magna Cum Laude, with a B.S. in computer Engineering Technology. 
						While working toward my degree I worked on projects and assignments using Java, C&#47;C++, Oracle SQL, VHDL,
						Embedded Code, MATLAB and Multisim. 
					</p>
					<div class="skills skillsRight sprite java"></div>
					<div class="skills skillsRight sprite android"></div>
					<div class="skills skillsRight sprite cplusplus"></div>
					<div class="skills skillsRight sprite oraclesql"></div>
					<div class="skills skillsRight sprite vhdl"></div>
					<div class="skills skillsRight sprite embedded"></div>
				</div>
			</div>
			
			<div class="slide slide4">
				<div class="title">
					<h1>Before all that...</h1>
					<p>
						Prior to my Engineering career, I worked in Print and Graphic Design for over a decade. A strong knowledge of production
						tracking and quality assurance were necessary to ensure that a quality product was delivered for every project. In addition to
						running print production, I also did graphic design and layout where I become accomplished using Adobe Photoshop, Illustrator,
						InDesign, and Acrobat. 
					</p>
					<div class="skills sprite photoshop"></div>
					<div class="skills sprite illustrator"></div>
					<div class="skills sprite indesign"></div>
					<div class="skills sprite acrobat"></div>
					<div class="skills sprite msoffice"></div>
					<div class="skills sprite windows"></div>
					<div class="skills sprite apple"></div>
				</div>
			</div>

			<div class="slide header" id="slide5">
				<h3>If you have project or a position<br>that you think I would be a good fit for,<br>please reach out and let me know</h3>
				<a href="https://plus.google.com/106139086974881828865/posts" target="_blank" class="sprite socialIcon gplus"></a>
				<a href="mailto:rmurray3420@gmail.com" target="_blank" class="sprite socialIcon mail"></a>
				<a href="https://www.linkedin.com/in/murrayryan/" target="_blank" class="sprite socialIcon li"></a>
			</div>
		</div>
		
		<div class="content displayNone" data-transition="footer">
			<div class="nav"></div>
			<div class="summary">
				See a view of the index for each application, with responsive views if applicable. 
				<br>Each image links to the live site &#40;if available&#41;.
				<br>A link to the site&#39;s GitHub repository is also available, along with a description of the site and it's distinctive features.
			</div>
			<!-- <div class="sampleContainer"> -->
			<div data-ng-repeat="sample in samples" class="siteContainer desktop" data-transition="parent">
				<!-- <h2 class="pointer" data-transition="dropdown" data-hide="hide" onclick="toggleTranslate($(this));">{{sample.id}}</h2> -->
				<!-- 
					this works great and is what was working before switching to ng-click
				<h2 class="pointer" data-trans="dropdown" data-marker="transitioned" data-container="footer" data-container-trans="active" onclick="screenTransition($(this));">{{sample.id}}</h2>
				-->
				<h2 class="pointer" data-trans="dropdown" data-marker="transitioned" data-container="footer" data-container-trans="active" ng-click="screenTransition($event);">{{sample.id}}</h2>
				<div class="responsiveIconCont">
					<div class="deskIcon sprite" data-transition="desktop" data-remove="desktop|tablet|mobile" onclick="toggleGroup($(this));"></div>
					<div class="tabletIcon sprite" ng-show="{{sample.tresponsive}}" data-transition="tablet" data-remove="desktop|tablet|mobile" onclick="toggleGroup($(this));"></div>
					<div class="mobileIcon sprite" ng-show="{{sample.mresponsive}}" data-transition="mobile" data-remove="desktop|tablet|mobile" onclick="toggleGroup($(this));"></div>
				</div>
				<div class="deskSample">
					<div class="hideImg">
						<a href="{{sample.href}}" target="_blank">
							<img class="fluidImg" src="./images/{{sample.deskimg}}" alt="{{sample.client}} desktop sample image">
						</a>
					</div>
				</div>
				<div class="tabletSample">
					<div class="hideImg">
						<a href="{{sample.href}}" target="_blank">
							<img class="fluidImg" src="./images/{{sample.tabletimg}}" alt="{{sample.client}} tablet sample image">
						</a>
					</div>
				</div>
				<div class="mobileSample">
					<div class="hideImg">
						<a href="{{sample.href}}" target="_blank">
							<img class="fluidImg" src="./images/{{sample.mobileimg}}" alt="{{sample.client}} mobile sample image">
						</a>
					</div>
				</div>
				<div class="descriptionCont">
					<ul>
						<li><a href="{{sample.github}}" target="_blank" class="github sprite"></a></li>
						<li><span>Client&#58; </span>{{sample.client}}</li>
						<li><span>Business Type&#58; </span>{{sample.businesstype}}</li>
						<li><span>Skills&#58; </span>{{sample.skills}}</li>
					</ul>
					<div class="horizSeperate"></div>
					<div class="description">
						<p>{{sample.description1}}</p>
						<p>{{sample.description2}}</p>
					</div>
				</div>
			</div>
			<!-- </div> -->
		</div>
		
		
		<footer>
			You have reached the bottom...
		</footer>
	</div> <!-- //wrapper -->
	
	<link rel="stylesheet" type="text/css" href="portfolio.css"></link>
	<link rel="stylesheet" type="text/css" href="jquery-ui-1.11.0/jquery-ui.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery-1.11.1/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="jquery-ui-1.11.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="portfolio.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
	
</body>

</html>
